<% layout('/layouts/boilerplate') -%>

<body>
    
    <div class="container-fluid">
        <div class="row col-12 gx-3 gy-2 offset-1">
            <% list.forEach((item)=>{ %>
                
                    <div class="card ms-3" style="width: 18rem;">
                        <a href="/show/<%=item._id%>" class="card-link">
                            <img src="<%=item.image.url%>" class="img" alt="<%=item.image.filename%>">
                            <div class="card-body">
                                <p class="card-text">
                                    <b><%=item.title%></b> <br>
                                    <%=item.price.toLocaleString("en-IN")+ "/night" %>
                                </p>
                            </div>
                        </a>
                    </div>
                
            <% })%>
        </div>
    </div>
    
   
</body>

